@import "../../../_css/common";

.form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 24 px;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;

  @include mid-break {
    width: 100%;
  }
}

.submit {
  margin-top: 20px;
 
  width: 100%;
  height: 45px;
}

.message {
  margin-bottom: var(--base);
 
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center; 
  width: 100%;
}
